{% extends 'templates/base.html' %}
{% block head_title %}
    Home page

 {% endblock head_title %}


{% block content %}
      <h1>Welcome to TweetMe </h1>

    <script>
    const xhr = new  XMLHttpRequest()
    const method = 'GET'
    const url = 'tweets'
    const  responseType = 'json'

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function () {
        const serverResponse = xhr.response
        var listedItems = serverResponse.response
        console.log(listedItems)


        console.log(xhr.response)
    }
    xhr.send()

    </script>
  {% endblock content %}