{% extends 'templates/base.html' %}
{% block head_title %}
    Home page

{% endblock head_title %}


{% block content %}
    <div class="row text-center">
        <div class="col">
            <h1>Welcome to TweetMe </h1>
        </div>
    </div>

    <div class="row mb-3">
    <div class="col-md-4 mx-auto col-10">
        <form method="post" id="tweet-create-form" action="/create-tweet">{% csrf_token %}
            <div class="d-none alert alert-danger" id="tweet-create-form-error"></div>
            <input type="hidden" value="/" name="next"/>
            <textarea required="required" class="form-control" type="text" name="content" placeholder="Your tweet"></textarea>
            <button type="submit" class="btn btn-primary">Tweet</button>

        </form>

    </div>

    </div>

    <div class="row" id="tweets">
        Replace me
    </div>
    <script>
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

    function handleTweetCreateFormError (msg, display) {
        var myErrorDiv = document.getElementById("tweet-create-form-error")
        if (display === true){
            // show error
            myErrorDiv.setAttribute("class", "d-block alert alert-danger")
            myErrorDiv.innerText = msg

        } else {
            //hide error
            myErrorDiv.setAttribute("class", "d-none alert alert-danger")
        }

    }
    
    
    function handleTweetCreateDidSubmit(event) {
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        const xhr = new XMLHttpRequest()
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.onload = function () {
                if (xhr.status === 201){
                    handleTweetCreateFormError("", false)
                    const newTweetJson = xhr.response
                    const newTweetElement = formattedTweetElement(newTweetJson)
                    const ogHtml = tweetsContainerElement.innerHTML
                    tweetsContainerElement.innerHTML = newTweetElement + ogHtml
                    myForm.reset()

            } else if (xhr.status === 400){
                    const errorJson = xhr.response
                    const contentError = errorJson.content
                    let contentErrorMsg;
                    if (contentError){
                        contentErrorMsg = contentError[0]
                        if (contentErrorMsg){
                            handleTweetCreateFormError(contentErrorMsg, true)
                        }
                        else {
                            alert("An error occurred. Please try again later!")
                        }
                    } else {
                        alert("An error occurred. Please try again later!!!")
                    }
                    console.log(contentErrorMsg)
                } else if (xhr.status === 500){
                    const errorJson = xhr.response
                    alert("An error << 500 >> occurred, please try again later")
                } else if (xhr.status === 401) {
                    alert("You have to login!")
                    window.location.href = '/login'
                } else if (xhr.status === 403) {
                    alert("You have to login!")
                    window.location.href = '/login'
                }

        }
            xhr.onerror = function(){
                alert("An error occurred. Please try again later")
            }
           xhr.send(myFormData)

        {#console.log(endpoint, method)#}
        {#for (var myItem of myFormData.entries()){#}
        {#    console.log(myItem)#}
    }

        const  tweetCreateFormEl = document.getElementById('tweet-create-form')
        tweetCreateFormEl.addEventListener('submit', handleTweetCreateDidSubmit)

        const tweetsContainerElement = document.getElementById('tweets')


        function loadTweet(tweetsElements){
            const xhr = new XMLHttpRequest()
            const method = 'GET'
            const url = 'tweets'
            const responseType = 'json'
            xhr.responseType = responseType
            xhr.open(method, url)

            xhr.onload = function () {
                const serverResponse = xhr.response
                const listedItems = serverResponse
                var finalTweetStr = ''
                var i;
                for (i = 0; i < listedItems.length; i++) {
                    var tweetObj = listedItems[i]
                    var currentItem = formattedTweetElement(tweetObj)
                    finalTweetStr += currentItem
            }
                tweetsElements.innerHTML = finalTweetStr

        }
               xhr.send()
        }

        loadTweet(tweetsContainerElement)

        function handleTweetActionBtn(tweet_id, currentCount, action) {
            const url = "api/tweets/action"
            const method = "POST"
            const data = JSON.stringify({
                id: tweet_id,
                action: action
            })
            const csrftoken = getCookie('csrftoken');
            const xhr = new XMLHttpRequest()
            xhr.open(method, url)
            xhr.setRequestHeader("Content-Type", "application/json")
            xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
            xhr.setRequestHeader("X-CSRFToken", csrftoken)

            xhr.onload = function () {
                // in future realize that state with react.js
                loadTweet(tweetsContainerElement)
            }
            xhr.send(data)
        }

        function reTweet(tweet) {
            return "<button class='btn btn-outline-primary btn-sm' onclick=handleTweetActionBtn(" + tweet.id + "," + tweet.likes + ",'retweet')>ReTweet</button>"
        }

        function unLikeButton(tweet) {
            return "<button class='btn btn-outline-primary btn-sm' onclick=handleTweetActionBtn(" + tweet.id + "," + tweet.likes + ",'unlike')>Unlike</button>"
        }

        function likeButton(tweet) {
            return "<button class='btn btn-primary btn-sm' onclick=handleTweetActionBtn(" + tweet.id + "," + tweet.likes + ",'like')>" + tweet.likes + "Likes</button>"
        }

        function formattedTweetElement(tweet) {
            var formattedTweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4' id='tweet-" + tweet.id + "'><p>"
                + tweet.content +
                "</p><div class='btn-group'>" + likeButton(tweet) + unLikeButton(tweet) + reTweet(tweet) +

                "</div></div>"
            return formattedTweet
        }

    </script>
{% endblock content %}